*{ 
      font-family: Sora;
}
body{
      display:flex;
      justify-content:center;
       background-color: #FAFAF9;
      padding-top:164px;
      padding-bottom:164px;}

div{
      width:min-content;
     height: auto;      
     border-radius: 10px;
      padding: 16px;
      background-color: #FFFFFF;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
img{
      width: 336px;
      height: 152px;
      margin-bottom: 16px;
     
      border-radius: 16px;

}
tag{
      padding:6px 16px;
      border-radius: 16px;
      font-size: 14px;
      font-weight: bold;

      color: #883AE1;
      background-color: #E6D6FC;
     
}

text h2{
      color: #20293A;
      font-size: 18px;
      margin-bottom: 6px;
}
text p{
      margin-bottom: 6px;
      font-size: 10px;
      color: #6C727F;
      
}
text span{
      font-size: 10px;
      color:#6c727f;
      padding-bottom: 4px;
   

}
hr{color: #6C727F;}